*.blend1
smallsphaere_test.obj
smallsphaere_test.mtl
/result_mesh/*
/setup_archive/*
/strategies.pkl
config_pool/
data/
Testroom_5_triangleset/
vergleiche/
/handover/
/scanplan.srctrlbm
/scanplan.srctrldb
/scanplan.srctrldb_tmp
/scanplan.srctrldb_tmp_thread2
/scanplan.srctrlprj
.DS_Store
notebooks/viewpoint_plot.ipynb
notebooks/scanplan_explanation.ipynb
data/
